.timer {
display: flex;
}



.field {
display: flex;
flex-direction: column;
text-align: center;
width: 80px;
padding-top: 20px;
}

.value {
    font-family:'Press Start 2P';
    font-size: 30px;
}

.label {
    font-family: 'Press Start 2P';
    font-size: 10px;
}

button {

    font-family: inherit;
    padding: 0.5em 1.3em;
    font-weight: 700;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;

}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

#datetime-picker{
    font-family: inherit;
        padding: 0.5em 1.3em;
        font-weight: 700;
        font-size: 18px;
        border: 3px solid black;
        border-radius: 0.4em;
        box-shadow: 0.1em 0.1em;
}
